<!DOCTYPE html>
<html lang="en">
<head>
    <%-include header.ejs%>
</head>
<body>

<div class="container">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Thay đổi password</div>
                <!--<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Sign In</a></div>-->
            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" action="/sign_up" method="post">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span>aaa</span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">New Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Retype Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="rep_password" name="rep_password" placeholder="Retype Password">
                        </div>
                    </div>




                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Change</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        $('#btn-signup').click(function () {
            var new_pas = $('#new_password').val()
            var re_pas =  $('#rep_password').val()
            var email = $('#email').val()
            if (new_pas&&re_pas&&new_pas==re_pas){
                $.ajax({
                    url:"/user/forgotPassword/change",
                    type:"post",
                    dataType:"json",
                    data : {new_pass:new_pas,email:email},
                    success:function (result) {
                        if(result.success){alert("Đăng ký thành công!")
                            window.location.replace('/login')
                        }
                        if(result.email == false){
                            alert("Check lai email")
                        }
                    }
                })
            }else {
                alert("Email not exist")
            }
        })
    })
</script>
</html>